<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.captchawyxMapper">
    
    <resultMap type="captchawyx" id="captchawyxResult">
        <result property="id"    column="id"    />
        <result property="target"    column="target"    />
        <result property="code"    column="code"    />
        <result property="expireAt"    column="expire_at"    />
    </resultMap>

    <sql id="selectcaptchawyxVo">
        select id, target, code, expire_at from captchawyx
    </sql>

    <select id="selectcaptchawyxList" parameterType="captchawyx" resultMap="captchawyxResult">
        <include refid="selectcaptchawyxVo"/>
        <where>  
            <if test="target != null  and target != ''"> and target = #{target}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="expireAt != null "> and expire_at = #{expireAt}</if>
        </where>
    </select>
    
    <select id="selectcaptchawyxById" parameterType="Long" resultMap="captchawyxResult">
        <include refid="selectcaptchawyxVo"/>
        where id = #{id}
    </select>

    <insert id="insertcaptchawyx" parameterType="captchawyx" useGeneratedKeys="true" keyProperty="id">
        insert into captchawyx
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="target != null and target != ''">target,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="expireAt != null">expire_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="target != null and target != ''">#{target},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="expireAt != null">#{expireAt},</if>
         </trim>
    </insert>

    <update id="updatecaptchawyx" parameterType="captchawyx">
        update captchawyx
        <trim prefix="SET" suffixOverrides=",">
            <if test="target != null and target != ''">target = #{target},</if>
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="expireAt != null">expire_at = #{expireAt},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletecaptchawyxById" parameterType="Long">
        delete from captchawyx where id = #{id}
    </delete>

    <delete id="deletecaptchawyxByIds" parameterType="String">
        delete from captchawyx where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>