<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MembersMapper">
    
    <resultMap type="Members" id="MembersResult">
        <result property="id"    column="id"    />
        <result property="teamId"    column="team_id"    />
        <result property="userid"    column="userid"    />
    </resultMap>

    <sql id="selectMembersVo">
        select id, team_id, userid from members
    </sql>

    <select id="selectMembersList" parameterType="Members" resultMap="MembersResult">
        <include refid="selectMembersVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="teamId != null "> and team_id = #{teamId}</if>
            <if test="userid != null "> and userid = #{userid}</if>
        </where>
    </select>
    
    <select id="selectMembersById" parameterType="Long" resultMap="MembersResult">
        <include refid="selectMembersVo"/>
        where id = #{id}
    </select>

    <insert id="insertMembers" parameterType="Members" useGeneratedKeys="true" keyProperty="id">
        insert into members
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="teamId != null">team_id,</if>
            <if test="userid != null">userid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="teamId != null">#{teamId},</if>
            <if test="userid != null">#{userid},</if>
         </trim>
    </insert>

    <update id="updateMembers" parameterType="Members">
        update members
        <trim prefix="SET" suffixOverrides=",">
            <if test="teamId != null">team_id = #{teamId},</if>
            <if test="userid != null">userid = #{userid},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMembersById" parameterType="Long">
        delete from members where id = #{id}
    </delete>

    <delete id="deleteMembersByIds" parameterType="String">
        delete from members where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>