<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WeightMapper">
    
    <resultMap type="Weight" id="WeightResult">
        <result property="id"    column="id"    />
        <result property="datetime"    column="datetime"    />
        <result property="value"    column="value"    />
        <result property="userid"    column="userid"    />
    </resultMap>

    <sql id="selectWeightVo">
        select id, datetime, value, userid from weight
    </sql>

    <select id="selectWeightList" parameterType="Weight" resultMap="WeightResult">
        <include refid="selectWeightVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="params.beginDatetime != null and params.beginDatetime != '' and params.endDatetime != null and params.endDatetime != ''"> and datetime between #{params.beginDatetime} and #{params.endDatetime}</if>
            <if test="value != null  and value != ''"> and value = #{value}</if>
            <if test="userid != null "> and userid = #{userid}</if>
        </where>
    </select>
    
    <select id="selectWeightById" parameterType="Long" resultMap="WeightResult">
        <include refid="selectWeightVo"/>
        where id = #{id}
    </select>

    <insert id="insertWeight" parameterType="Weight" useGeneratedKeys="true" keyProperty="id">
        insert into weight
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="datetime != null">datetime,</if>
            <if test="value != null">value,</if>
            <if test="userid != null">userid,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="datetime != null">#{datetime},</if>
            <if test="value != null">#{value},</if>
            <if test="userid != null">#{userid},</if>
         </trim>
    </insert>

    <update id="updateWeight" parameterType="Weight">
        update weight
        <trim prefix="SET" suffixOverrides=",">
            <if test="datetime != null">datetime = #{datetime},</if>
            <if test="value != null">value = #{value},</if>
            <if test="userid != null">userid = #{userid},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWeightById" parameterType="Long">
        delete from weight where id = #{id}
    </delete>

    <delete id="deleteWeightByIds" parameterType="String">
        delete from weight where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>